@import "tailwindcss";

:root {
  --background: #121316;
  --foreground: #ffffff;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-oswald: var(--font-oswald);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: #ccff00;
  --color-card: #1c1d22;
  --color-border: #2e3038;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
